body {
    background-color: white;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

svg path {
	color: white;
    stroke-width: 1px;
}


svg :hover {
   stroke: white;
}

/* atributos de municipios sem dados (fora da regiao amazonica) */
.sem_dados { stroke: none; fill: #d9d9d9 }

#legenda{
    float: left;
    width: 30%;
    background-color: rgba(0,0,255,50);
    stroke: red;
    fill: green;
}

